<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>sh</string>
		<key>num</key>
		<string>600660</string>
	</dict>
	<dict>
		<key>type</key>
		<string>sh</string>
		<key>num</key>
		<string>600066</string>
	</dict>
	<dict>
		<key>type</key>
		<string>sz</string>
		<key>num</key>
		<string>002466</string>
	</dict>
	<dict>
		<key>type</key>
		<string>sz</string>
		<key>num</key>
		<string>002460</string>
	</dict>
	<dict>
		<key>type</key>
		<string>sz</string>
		<key>num</key>
		<string>000333</string>
	</dict>
	<dict>
		<key>type</key>
		<string>sz</string>
		<key>num</key>
		<string>002294</string>
	</dict>
	<dict>
		<key>type</key>
		<string>sh</string>
		<key>num</key>
		<string>600352</string>
	</dict>
	<dict>
		<key>type</key>
		<string>sh</string>
		<key>num</key>
		<string>601633</string>
	</dict>
	<dict>
		<key>type</key>
		<string>sh</string>
		<key>num</key>
		<string>600104</string>
	</dict>
	<dict>
		<key>type</key>
		<string>sh</string>
		<key>num</key>
		<string>603899</string>
	</dict>
	<dict>
		<key>type</key>
		<string>sz</string>
		<key>num</key>
		<string>000651</string>
	</dict>
	<dict>
		<key>type</key>
		<string>sh</string>
		<key>num</key>
		<string>603232</string>
	</dict>
	<dict>
		<key>type</key>
		<string>sz</string>
		<key>num</key>
		<string>002508</string>
	</dict>
	<dict>
		<key>type</key>
		<string>sh</string>
		<key>num</key>
		<string>600741</string>
	</dict>
	<dict>
		<key>type</key>
		<string>sh</string>
		<key>num</key>
		<string>600036</string>
	</dict>
	<dict>
		<key>type</key>
		<string>sh</string>
		<key>num</key>
		<string>600519</string>
	</dict>
	<dict>
		<key>type</key>
		<string>sz</string>
		<key>num</key>
		<string>002415</string>
	</dict>
	<dict>
		<key>type</key>
		<string>sh</string>
		<key>num</key>
		<string>600887</string>
	</dict>
	<dict>
		<key>type</key>
		<string>sh</string>
		<key>num</key>
		<string>600816</string>
	</dict>
	<dict>
		<key>type</key>
		<string>sz</string>
		<key>num</key>
		<string>002372</string>
	</dict>
</array>
</plist>
